lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
server.js

npm-debug.log
node_modules

config/database.js
config/auth.js
config/config.js

authoring-client/bower_components
authoring-client/dist
authoring-client/node_modules
authoring-client/build
